#container{
  width: 1200px;
  margin: 0 auto;
}
#header{
  box-sizing: border-box;
  height: 120px;
  background-color: #acacac;
  padding: 20px 30px;
}

#contents{
  width: 900px;
  background-color: #f7f7f7;
  float: right;
  height: 600px;
}
#sidebar{
  width: 300px;
  float: left;
  background-color: #eaeaea;
  height: 600px;
}
#footer{
  width: 100%;
  height: 100px;
  background-color: #888888;
  clear: both;
}
.buttons{
  height: 80px;
  width: 100px;
}

#join{
  margin-left: 30px;
  float: right;
  background-color: yellow;
}
#login{
  float: right;
  background-color: blue;
}