@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

body {
    font-family: 'Sunflower', sans-serif;
    margin: 0;
}

#container {
    width: 100%;
    margin: 0 auto;
}

nav {
    height: 50px;
    background-color: black;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 3px;
}

nav > ul > li {
    display: inline-block;
    margin: 15px 20px;
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: white;
}
a:active,
a:hover {
    color: yellow;
}

header {
    width: 100%;
    height: 300px;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo {
    display: none;
}
section {
    width: 100%;
    padding: 15px 5%;
    position: relative;
}

.page-title {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 30px 50px;
}

.page-title > h1 {
    margin-bottom: 30px;
}

.content {
    margin: 80px auto 10px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

#container section:nth-child(odd) {
    background-color: gold;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
}

footer > p {
    color: white;
    text-align: center;
    line-height: 100px;
}

/* 태블릿 - 768px */
@media screen and (min-width: 768px) {
    header {
        height: 400px;
    }
    #intro,
    #map {
        box-sizing: border-box;
        width: 50%;
        float: left;
        height: 300px;
    }
    #choice {
        clear: both;
    }
}

/* pc - 1024px 이상 */
@media screen and (min-width: 1024px) {
    #container {
        width: 1000px;
        margin: 0 auto;
    }
    header {
        height: 450px;
    }

    #intro,
    #map,
    #choice {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 400px;
        padding: 15px 5%;
    }
    .photo {
        display: block;
        width: 40%;
        margin-top: 20px;
    }
    .photo > img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .content {
        margin: 80px auto 10px;
        width: 90%;
        padding: 20px;
    }

    #intro .photo,
    #map .photo {
        float: left;
        margin-right: 5%;
    }
    #choice .photo {
        float: right;
        margin-left: 5%;
    }
    #choice .photo img {
        border: 1px solid white;
        border-radius: 50%;
    }

}