/* index.html 화면에서 사용할 디자인 요소 */
#main {
  background-color: #f0f2f5;
  padding: 72px 0 112px;
}

#contents {
  width: 990px;
  margin: 0 auto;
}

#content1 {
  display: inline-block;
  width: 580px;
  box-sizing: border-box;
  padding-right: 32px;
  vertical-align: top;
}

#content2 {
  display: inline-block;
  width: 396px;
  height: 456px;
}

#content1 img {
  height: 106px;
  margin: -28px;
  padding: 112px 0 12px;
}

#content1 h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding-bottom: 20px;
}

#input-form {
  padding: 10px 0 24px;
  text-align: center;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin-top: 40px;
  width: 396px;
  border-radius: 8px;
}

div.main-input {
  width: 364px;
  font-size: 17px;
  padding: 6px 0;
  text-align: center;
  margin: auto;
}

div.main-input input {
  border-radius: 6px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
}
/* input이 focus되었을 때 적용시킬 스타일 */
div.main-input input:focus{
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  outline: none;
}

div .main-input input:focus::placeholder{
  color: rgba(128, 128, 128, 0.7);
}

/*서밋 버튼 디자인*/
#login{
  margin-top: 6px;
  font-size: 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  color: #fff;
  cursor: pointer;
  box-sizing: content-box;
  font-weight: bold;
}

#login:hover{
  background-color: #166fe5;
}
#forget-pw{
  margin-top: 16px;
}

#forget-pw a{
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;

}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.line{
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
}

#new-account{
  padding-top: 6px; 
}

#new-account button{
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

#new-account button:hover{
  background-color: #36a420;
}

#reg_pages_msg{
  font-size: 14px;
  font-weight: normal;
  margin-top: 28px;
  text-align: center;
}

#reg_pages_msg a{
  color: inherit;
  font-weight: bold;
}
#page-footer{
  padding-top: 20px;
  width: 990px;
  margin: 0 auto;
  color: #737373;
  font-size: 12px;
}
#page-footer a{
  color: #737373;
}
#page-footer ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 8px;
}
#page-footer .line{
  margin: 2px 0 8px;
}

#page-footer ul:first-child li{
  padding-right: 10px;
}
#page-footer ul:nth-child(3) li{
  padding-right: 20px;
}

.copyright{
  font-size: 11px;
  margin: 20px 0;
}

